temp_gccflags.c
output/
trgdata/
StRoot/CVS/
.sl73_gcc485/
*.list
trgdata
output
hadd.x
StRoot/StIOMaker/.consign
StRoot/StIOMaker/CVS/
StRoot/StMTDTrgMaker/.consign
StRoot/StIOMaker/README
.sl73_gcc485/
*.list
sandbox/
*.consign
temp_gccflags.c
